/* CLUSTER LIST */
.divClusterLine{
	padding: 5px;
	font-weight: bold;
	font-size: 18px;
}

.divClusterInfo{
	padding: 0px 0px 0px 20px;
}

/* CLUSTER INFO TABLE */
.clusterInfoTable{
	margin: 0 auto;
	border-collapse: collapse;
	border: solid 2px black;
}

.clusterInfoTable td:not(.tdInfoBigHeader){
	border: solid 2px black;
	text-align: center;
	padding: 2px 5px;
}

.clusterInfoTable td:not(.tdInfoBigHeader):not(.tdInfoHeader){
	background-color: #9CF;
}

.tdInfoBigHeader{
	border: solid 2px black;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #027;
	color: white;
}

.tdInfoHeader{
	background-color: #249;
	color: white;
	font-weight: bold;
}

/* CLUSTER INFO LONG TABLE */
.clusterInfoLongTable{
	margin: 0 auto;
	border-collapse: collapse;
	border: solid 2px black;
}

.clusterInfoLongTable td:not(.tdInfoBigHeader){
	border: solid 2px black;
	text-align: center;
	padding: 2px 5px;
}

.clusterInfoLongTable tr:nth-child(2n+1) td:not(.tdInfoBigHeader):not(.tdInfoHeader){
	background-color: #9CF;
}

.clusterInfoLongTable tr:nth-child(2n+2) td:not(.tdInfoBigHeader):not(.tdInfoHeader){
	background-color: #7EF;
}

/* BUTTON ADD CLUSTER */
.btnAddCluster {
	cursor: pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #037bd6), color-stop(1, #00257a) );
	background:-moz-linear-gradient( center top, #037bd6 5%, #00257a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#037bd6', endColorstr='#00257a');
	background-color:#037bd6;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #050300;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:100px;
	line-height:65px;
	width:262px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}
.btnAddCluster:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00257a), color-stop(1, #037bd6) );
	background:-moz-linear-gradient( center top, #00257a 5%, #037bd6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00257a', endColorstr='#037bd6');
	background-color:#00257a;
}.btnAddCluster:active {
	position:relative;
	top:1px;
}