/* HEADER */
#headerDiv{
	margin: 0 auto;
	background-color: #027;
	height: 5em;
	border-bottom: solid 2px black;
}

#headerOptionDiv{
	width: 3em;
	height: 3em;
	margin: 0 0 0 auto;
	margin-right: 10em;
	position: relative;
	top: 1em;
	background-image: url('../img/options_gear_standard.png');
	cursor: pointer;
}

#headerOptionDiv:hover{
	background-image: url('../img/options_gear_hover.png');
}

#headerOptionDiv:active{
	background-image: url('../img/options_gear_active.png');
}

#headerOptionsDiv{
	position: relative;
	margin: 0 0 0 auto;
	margin-right: 4.5em;
	width: 14em;
	background-color: white;
	border: solid 1px gray;
	z-index: 5;
	top: 1.1em;
}

/* OPTIONS TABLE */
#optionsTable{
	width: 100%;
	border-collapse: collapse;
}

.optionsTd{
	width: 100%;
	background-color: #FFF;
	cursor: pointer;
	border-bottom: solid 1px #CCC;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

.optionsTd:hover{
	background-color: #EEE;
}

.optionsTd:active{
	background-color: #DDD;
}
